<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>

    <div>
      <strong>Number of Tasks:</strong>
      <%= project.tasks_count %>
    </div>

    <div>
      <strong>Number of Unfinished Tasks:</strong>
      <%= project.unf_tasks_count %>    
    </div>

    <p>
      <%= link_to "View #{project.name}", project %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
