<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <strong>Description:</strong>
  <%= @project.description %>
</div>
  <button><%= link_to "Edit this project", edit_project_path(@project) %></button>
  <button><%= link_to "Add new task to this project", new_project_task_path(@project) %></button>
  <div class="button"><%= button_to "Destroy this project", @project, method: :delete %></div>



<div>
  <% if @tasks.any? %>
    <div id="tasks-filter">
      <%= form_with url: project_path(@project), method: :get, local: true do %>
        <%= select_tag :status, 
            options_for_select(Task::STATUSES, params[:status]),
            include_blank: "All"%>
        <%= submit_tag "Filter", class: "btn btn-secondary" %>
      <% end %>
    </div>  

    <div>
      <strong>Tasks</strong>
      <table class="table" >
        <thead>
        <tr>
          <td>Title</td>
          <td>Status</td>
          <td>Priority</td>
          <td>Due Date</td>   
          </tr> 
        </thead>
        <tbody>
          <div id="tasks">
            <%= render @tasks %>
          </div>
        </tbody>
      </table>
    </div>    
  <% end %>


  <%= link_to "Back to projects", projects_path %>

</div>
