<div class="container">
                <%= link_to "<< Back to projects", projects_path %>

    <div class="column">
        <div class="row-p5">

            <p style="color: green"><%= notice %></p>
            <h3>
            <%= render @project %>
    </h3>
            <div>
                <strong>Description:</strong>
                <%= @project.description %>
            </div>
        </div>
        <br>
        <div class="row-p5">

            <%= link_to "Edit this project", edit_project_path(@project), class: "btn btn-primary" %>
            <%= link_to "Add new task to this project", new_project_task_path(@project), class: "btn btn-primary" %>
            <%= button_to "Destroy this project", @project, method: :delete, class: "btn btn-primary" %>
        </div>
        <br>
        <div class="row-p5">


            <div>
                <div id="tasks-filter">
                    <%= form_with url: project_path(@project), method: :get, local: true do %>
                    <!-- filter -->
                    <label for="status">Filter:</label>
                    <%= select_tag :status, 
          options_for_select(Task::STATUSES, params[:status]),
          include_blank: "All",
          onchange: "this.form.submit()", class: "btn btn-light dropdown-toggle"%>

                    <!-- sort -->
                    <label for="sort">Sort by:</label>
                    <%= select_tag :sort,
          options_for_select([["Priority (high → low)", "priority_desc"], ["Priority (low → high)", "priority_asc"], ["Due Date (soonest → latest)", "due_asc"], ["Due Date (latest → soonest)", "due_desc"]], params[:sort]),
          include_blank: "Default",
          onchange: "this.form.submit()", class: "btn btn-light dropdown-toggle" %>
                    <% end %>
                </div>
      <br>
                <% if @tasks.any? %>
                <div>
                    <h4>Tasks</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <td class="h5">Title</td>
                                <td class="h5">Status</td>
                                <td class="h5">Priority</td>
                                <td class="h5">Due Date</td>
                            </tr>
                        </thead>
                        <tbody>
                            <div id="tasks">
                                <%= render @tasks %>
                            </div>
                        </tbody>
                    </table>
                </div>
                <% end %>


                <%= link_to "<< Back to projects", projects_path %>

            </div>

        </div>
    </div>
</div>